<h1>
    Web Socket Example
</h1>
<p>
    open console to see connection.
</p>
<script>
    var ws = new WebSocket('ws://localhost:40510');
    ws.onopen = function () {
        console.log('websocket is connected ...')
        ws.send('connected')
    };
    ws.onmessage = function (ev) {
        let serverInfObj = JSON.parse(ev.data);
        switch (serverInfObj.type) {
            case "dice": {
                diceRoll(Number(serverInfObj.value));
            } break;
            case "player-information": {
                playerToMove(serverInfObj.playerToMove)
            }break;
            default: {
                console.log("Error: no such type");
            }
        }
    };
    
    function playerToMove(player) {
        console.log("player to move: " + player);
    }

    function diceRoll(dice) {
        // vurti zarovete i displayva chisloto
        console.log("dice:" + dice);
    }
</script>