<script>
    var ws = new WebSocket('ws://192.168.43.135:40510');
    ws.onopen = function () {
        console.log('websocket is connected ...')
        ws.send('connected')
    };
    ws.onmessage = function (ev) {
        let serverInfObj = JSON.parse(ev.data);
        switch (serverInfObj.type) {
            case "dice": {
                diceRoll(Number(serverInfObj.value));
            } break;
            case "player-information": {
                playerToMove(serverInfObj.playerToMove);
            }break;
            case "penalty": {
                penalizePlayer(serverInfObj.value);
            } break;
            case "question": {
                openQuestionModal(serverInfObj.value);
            } break;
            case "answered": {
                closeQuestionModal();
            }
            default: {
                console.log("Error: no such type");
            }
        }
    };
    
    function playerToMove(player) {
        //update the table with whoever's turn it is
        console.log("player to move: " + player);
    }

    function diceRoll(dice) {
        // vurti zarovete i displayva chisloto
        console.log("dice:" + dice);
    }

    function penalizePlayer(player) {
        //reduce the health of the given player by 2
        console.log("player " + player + "lost 2 hp due to invalid move");
    }

    function openQuestionModal(question) {
        let modal = document.getElementById('question_modal');
        modal.style.display = "block";
    }

    function closeQuestionModal() {
        let modal = document.getElementById('question_modal');
        modal.style.display = "none";
    }
</script>
<style>
    .players-box {
        display: flex;
        justify-content: space-around;
    }

    body {
        background: #161616;
    }

    span {
        display: block;
        font-size: 40px;
        font-family: Arial;
        color: #cccccc;
        padding-top: 20px;
    }

    .dice-player-on-move {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        color: #cccccc;
        font-family: Arial;
    }

    .player-on-move {
        font-size: 70px;
    }

    .dice {
        border: 3px solid #cccccc;
        padding: 30px;
        font-size: 100px;
    }

    /*.player_names, .player_health, .player_moves {
        display: flex;
        justify-content: center;
    }*/
</style>
<body>
    <div class="players-box">
        <div class="single-player">
            <span class="player-name">Играч: </span>
            <span class="player-health">Живот: </span>
            <span class="player-move">Изиграни ходове: </span>
        </div>

        <div class="single-player">
            <span class="player-name">Жълт</span>
            <span class="player-health">10</span>
            <span class="player-move">5</span>
        </div>

        <div class="single-player">
            <span class="player-name">Лилав</span>
            <span class="player-health">9</span>
            <span class="player-move">4</span>
        </div>

        <div class="single-player">
            <span class="player-name">Син</span>
            <span class="player-health">10</span>
            <span class="player-move">4</span>
        </div>

        <div class="single-player">
            <span class="player-name">Бял</span>
            <span class="player-health">8</span>
            <span class="player-move">4</span>
        </div>


    </div>
    <div class="dice-player-on-move">
        <div class="player-on-move">Лилав</div>
        <div class="dice">5</div>
    </div>
</body>