<HTML>
<HEAD>

<script>
  var chatSocket = new WebSocket(
      'ws://' + window.location.host +
      '/index');


  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);

    if (data["player"] !== undefined) {
        updatePlayers(data);
    } else if (data["dice"] !== undefined) {
        diceHandle(data.dice.diceValue);
    } else if (!data["question"]) {
        displayQuestion(data.question.questionValue);
    } else if (data["turn"]) {
        displayTurn(data.turn.value);
    }
  };

  function displayTurn(turn) {
      document.getElementById('turn').value = turn;
  }

  function displayQuestion(question) {
      document.getElementById('question').value = question;
  }

  function diceHandle(diceValue) {
      document.getElementById('dice-value').value = diceValue;
  }

  function updatePlayers(data) {
      if (document.getElementById('red-hp').value = data.player['red'] <= 0) {
          document.getElementById('red-hp').value = "Dead"
      }
      if (document.getElementById('black-hp').value = data.player["black"] <= 0) {
          document.getElementById('black-hp').value = "Dead"
      }
      if (document.getElementById('white-hp').value = data.player["white"] <= 0) {
          document.getElementById('white-hp').value = "Dead"
      }
      if (document.getElementById('yellow-hp').value = data.player["yellow"] <= 0) {
          document.getElementById('yellow-hp').value = "Dead"
      }
  }

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };
</script>
    <style>
        .players-box {
            display: flex;
            justify-content: space-around;
        }
        .dice-box {
            display: flex;
            justify-content: center;
        }
        .question-box {
            display: flex;
            justify-content: space-around;
        }
    </style>

<title>Board Game</title>
</HEAD>
<BODY>
    <div class="players-box">
        <div class="red-player">
            <span>Red</span>
            <div id="red-hp">-</div>
        </div>

        <div class="yellow-player">
            <span>Yellow</span>
            <div id="yellow-hp">-</div>
        </div>

        <div class="black-player">
            <span>Black</span>
            <div id="black-hp">-</div>
        </div>

        <div class="white-player">
            <span>White</span>
            <div id="white-hp">-</div>
        </div>
    </div>

    <div class="dice-box">
        <div>
        <span>DICE</span>
        <div id="dice-value">-</div>
        </div>

        <div class="player-on-move">
            <div id="turn">-</div>
        </div>
    </div>

    <div class="question-box">
        <div id="question">-</div>
        <span>YES or NO</span>
    </div>
</BODY>
</HTML>
<!--




<table>
  <tr>
    <th>Red</th>
    <th>Black</th>
    <th>White</th>
    <th>Yellow</th>
  </tr>
  <tr>
    <td id="r_hp">10</td>
    <td id="b_hp">10</td>
    <td id="w_hp">10</td>
    <td id="y_hp">10</td>
  </tr>
  <tr>
    <td id="red">Alive</td>
    <td id="black">Alive</td>
    <td id="white">Alive</td>
    <td id="yellow">Alive</td>
  </tr>
</table>

<div id="dice">
</div>
-->
